<!DOCTYPE html>

<html prefix="og: http://ogp.me/ns#">
	<head>
		<meta name="generator" content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39">
		<link rel="stylesheet" href="/site/style.css">

		<title></title>
	</head>

	<body>
		<div class="bg_container">
			<div class="bg_gradient"></div>
			<svg height="CurrentHeight" width="CurrentWidth" viewBox="0 0 1000 1000" class="big-circle">
				<circle cx="500" cy="500" r="490" stroke="CurrentColor" stroke-width="1.5" fill="none" stroke-dasharray="5,5"></circle>
			</svg>
		</div>

		<div class="content-pillar">
			<div class="topBanner">
				<a href="https://mynft.com"><div class="mynftLogoTop"></div></a>
				<div class="bannerButtonSectionRight">
					<a class="clickableRoundButton" target="_blank" href="https://github.com/Perpetual-Altruism-Ltd/myNFT-Bridge">Integrate Bridge</a>
					<a  class="clickableRoundButton" style="margin-left: 20px;" target="_blank" href="https://docs.google.com/document/d/1c5Uor2By5igFWXimipcKhsWjTAG8OWrl9bSVWTPsi6U/edit?usp=sharing">White Paper</a>
				</div>
			</div>

			<div class="mynftBridgeTitle">
				myNFT Bridge
			</div>

			<div class="whitesheet">

				<div class="ConnectionCenter">
						<button type="button" class="btn btn-primary connectMetaMask clickableRoundButton">Connect MetaMask</button>
						<button type="button" class="btn btn-primary connectTorus clickableRoundButton">Connect Torus</button>
						<button type="button" class="btn btn-primary connectWalletConnect clickableRoundButton">Connect WalletConnect</button>
						<button type="button" class="btn btn-primary connectPortis clickableRoundButton">Connect Portis</button>
						<button type="button" class="btn btn-primary connectBitski clickableRoundButton">Connect Bitski</button>
						<button type="button" class="btn btn-primary connectFortmatic clickableRoundButton">Connect Fortmatic</button><br/><br/>
						<button type="button" class="btn btn-primary connectVenly clickableRoundButton">Connect Venly (Arkane)</button>
						<button type="button" class="btn btn-primary connectCoinbase clickableRoundButton">Connect Coinbase</button>
				</div>

				<div class="FlexStartHorizDisplay HorizFlex">
					<div class="DataTitle">Connected address:</div>
					<div class="address DataText"></div>
				</div>

				<div class="Card">
					<div class="CardElement CardTitle">Departure</div>

					<div class="CardElement SpaceBetweenHorizDisplay HorizFlex">
						<div class=""><label for="OriginNetworkSelector">Select the network the NFT token is currently in :</label></div>
						<div class="SelectorContainer">
							<select class="SelectorInput" name="OriginNetworkSelector" id="OriginNetworkSelector"></select>
							<div class="DropDownArrow"></div>
						</div>
					</div>

					<div class="CardElement SpaceBetweenHorizDisplay HorizFlex">
						<div class="">Input the address of the ERC-721 smart contract the token is currently in :</div>
						<div class="TextInputContainer"><input class="TextInput" size="42" id="inputOGContractAddress" value="0x60e31A1a38213Ec3Ba1C7345EA49C8b57f7bA4D7"></div>
					</div>

					<div class="CardElement SpaceBetweenHorizDisplay HorizFlex">
						<div class="">Input the tokenID of the ERC-721 token the NFT is currently associated to :</div>
						<div class="TextInputContainer"><input class="TextInput" size="42" id="inputOGTokenID" value="0x2449835e86a539aB33F5773729C0db42e89016fF"></div>
					</div>
				</div> <!-- end of departure card -->

				<div class="Card">
					<div class="CardTitle CardElement">Token</div>

					<div class="CardElement ColoredButtonContainer">
						<button class="ColoredButton" onclick="loadOgTokenData();">Load Data</button>
					</div>

					<div class="CardElement">
						<div class="FlexStartHorizDisplay WrappedhorizFlex">
							<div class="DataTitle">Token Contract Name:</div>
							<div class="DataText" id="OGContractName"></div>
						</div>

						<div class="FlexStartHorizDisplay WrappedhorizFlex">
							<div class="DataTitle">Token Contract Symbol:</div>
							<div class="DataText" id="OGContractSymbol"></div>
						</div>

						<div class="FlexStartHorizDisplay WrappedhorizFlex">
							<div class="DataTitle">Token Owner:</div>
							<div class="DataText" id="OGTokenOwner"></div>
						</div>

						<div class="FlexStartHorizDisplay WrappedhorizFlex">
							<div class="DataTitle">Token URI:</div>
							<div class="DataText"><a href="" target="_blank" id="OGTokenURI"></a></div>
						</div>
					</div>


					<div class="CardElement">
						<div class="FlexStartHorizDisplay WrappedhorizFlex">
							<div class="DataTitle">Metadata Name:</div>
							<div class="DataText" id="OGTokenMetaName"></div>
						</div>

						<div class="FlexStartHorizDisplay WrappedhorizFlex">
							<div class="DataTitle">Metadata Description:</div>
							<div class="DataText" id="OGTokenMetaDesc"></div>
						</div>

						<div class="FlexStartHorizDisplay WrappedhorizFlex">
							<div class="DataTitle">Metadata Image:</div>
							<div class="DataText" id="OGTokenMetaImagePath"></div>
						</div>
					</div>
				</div> <!-- end of token card -->


				<div class="Card">
					<div class="CardTitle CardElement">Migration</div>

					<div class="CardElement SpaceBetweenHorizDisplay HorizFlex">
						<div class="MigrationType">Migration type:</div>
						<div class="MigrationButtonGroup HorizFlex">
							<button class="ColoredButton" id="RedeemButton" onclick="RedeemButtonClick();">Redeem</button>
							<button class="ColoredButton" id="IOUMigrationButton" onclick="IOUMigrationButtonClick();">IOU</button>
							<button class="ColoredButton" id="FullMigrationButton" onclick="FullMigrationButtonClick();">Full</button>
						</div>
					</div>

					<div class="CardElement SpaceBetweenHorizDisplay HorizFlex">
						<div class="">Migration relay</div>
						<div class="SelectorContainer">
							<select class="SelectorInput" name="" id=""></select>
							<div class="DropDownArrow"></div>
						</div>
					</div>

				</div><!-- end of migration card -->


				<div class="Card">
					<div class="CardTitle CardElement">Arrival</div>

					<div class="CardElement SpaceBetweenHorizDisplay HorizFlex">
						<div class=""><label for="DestinationNetworkSelector">Select the network the NFT token will be migrated to :</label></div>
						<div class="SelectorContainer">
							<select class="SelectorInput" name="DestinationNetworkSelector" id="DestinationNetworkSelector" onChange="destNetworkChanged();"></select>
							<div class="DropDownArrow"></div>
						</div>
					</div>

					<div class="CardElement SpaceBetweenHorizDisplay HorizFlex">
						<div class="">Input the address of the ERC-721 smart contract the token will be migrated in :</div>
						<div class="TextInputContainer"><input class="TextInput" size="42" onChange="destContractChanged();" id="inputDestContractAddress" value="0x60e31A1a38213Ec3Ba1C7345EA49C8b57f7bA4D7"></div>
					</div>


					<div class="CardElement">
						<div class="FlexStartHorizDisplay WrappedhorizFlex">
							<div class="DataTitle">Token Contract Name:</div>
							<div class="DataText" id="DestContractName"></div>
						</div>

						<div class="FlexStartHorizDisplay WrappedhorizFlex">
							<div class="DataTitle">Token Contract Symbol:</div>
							<div class="DataText" id="DestContractSymbol"></div>
						</div>
					</div>

					<div class="CardElement SpaceBetweenHorizDisplay HorizFlex">
						<div class="">Input the tokenID of the ERC-721 token the NFT will be associated to :</div>
						<div class="TextInputContainer"><input class="TextInput" size="42" id="inputDestTokenID"></div>
					</div>

					<div class="CardElement SpaceBetweenHorizDisplay HorizFlex">
						<div class="">Destination owner:</div>
						<div class="TextInputContainer"><input class="TextInput" size="42" id="inputDestOwner"></div>
					</div>

				</div><!-- end of arrival card -->

			</div>
		</div>


		<script type="application/javascript" src="/lib/westron/loader.js"></script>
		<script type="application/javascript" src="/site/app.js"></script>
	</body>
</html>
