<!DOCTYPE html>

<html prefix="og: http://ogp.me/ns#">
	<head>
		<meta name="generator" content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39">
		<link rel="stylesheet" href="/site/style.css">
		
		<title></title>
	</head>
	
	<body>
		<div class="ConnectionCenter">
		<center>
			<button type="button" class="btn btn-primary connectMetaMask">Connect MetaMask</button>
			<button type="button" class="btn btn-primary connectTorus">Connect Torus</button>
			<button type="button" class="btn btn-primary connectWalletConnect">Connect WalletConnect</button>
			<button type="button" class="btn btn-primary connectPortis">Connect Portis</button>
			<button type="button" class="btn btn-primary connectBitski">Connect Bitski</button>
			<button type="button" class="btn btn-primary connectFortmatic">Connect Fortmatic</button><br/><br/>
			<button type="button" class="btn btn-primary connectVenly">Connect Venly (Arkane)</button>
			<button type="button" class="btn btn-primary connectCoinbase">Connect Coinbase</button>
		</center>
		<br>
		Connected Address: <div class="address"></div>
		</div>
		<div class="BridgeCards">
		<br><br>
			<div class="DepartureCard">
				Departure<br>
				<br>
				<label for="OriginNetwork">Select the network the NFT token is currently in :</label><br>
				<select name="OriginNetworkSelector" id="OriginNetworkSelector">
				</select><br>
				<br>
				Input the address of the ERC-721 smart contract the token is currently in :<br>
				
				<input size="42" id="inputOGContractAddress" value="0x60e31A1a38213Ec3Ba1C7345EA49C8b57f7bA4D7"><br>
				<br>
				Input the tokenID of the ERC-721 token the NFT is currently associated to :<br>
				<input size="42" id="inputOGTokenID" value="0x2449835e86a539aB33F5773729C0db42e89016fF"><br>
			</div>
		</div>
		
		<br>

		<div class="tokenCard">
			<button onclick="loadOgTokenData();">Load Data</button>
			<br>
			<br>
			Token Contract Name: <span id="OGContractName"></span>
			<br>
			Token Contract Symbol: <span id="OGContractSymbol"></span>
			<br>
			Token Owner: <span id="OGTokenOwner"></span>
			<br>
			Token URI: <span id="OGTokenURI"></span>
			<br>
			<br>
			<br>
			Metadata Name: <span id="OGTokenMetaName"></span><br>
			Metadata Description: <span id="OGTokenMetaDesc"></span><br>
			Metadata Image: <span id="OGTokenMetaImagePath"></span><br>
			<br>
		</div>
		<br>
		
		
		<br>
		<br>Arrival
		<br>
		<br>
		<script type="application/javascript" src="/lib/westron/loader.js"></script>
		<script type="application/javascript" src="/site/app.js"></script>
	</body>
</html>
