<!DOCTYPE html>

<html prefix="og: http://ogp.me/ns#">
	<head>
		<meta name="generator" content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39">
		<link rel="stylesheet" href="/site/style.css">
		<link rel="stylesheet" href="/site/customDropDown.css">

		<title></title>
	</head>

	<body>
		<div class="bg_container">
			<div class="bg_gradient"></div>
			<svg height="CurrentHeight" width="CurrentWidth" viewBox="0 0 1000 1000" class="big-circle">
				<circle cx="500" cy="500" r="490" stroke="CurrentColor" stroke-width="1.5" fill="none" stroke-dasharray="5,5"></circle>
			</svg>
		</div>

		<div class="content-pillar">
			<div class="topBanner">
				<a href="https://mynft.com"><div class="mynftLogoTop"></div></a>
				<div class="bannerButtonSectionRight">
					<a class="clickableRoundButton" target="_blank" href="https://github.com/Perpetual-Altruism-Ltd/myNFT-Bridge">Integrate Bridge</a>
					<a  class="clickableRoundButton" style="margin-left: 20px;" target="_blank" href="https://docs.google.com/document/d/1c5Uor2By5igFWXimipcKhsWjTAG8OWrl9bSVWTPsi6U/edit?usp=sharing">White Paper</a>
				</div>
			</div>

			<div class="mynftBridgeTitle">
				myNFT Bridge
			</div>

			<div class="whitesheet" id="WhiteSheet">

				<!--============= Migration Form display =============-->
				<div id="MigrationFormDisplay" class="Card">
					<!-- Connection buttons card -->
					<div class="ConnectionCenter">
							<button type="button" class="btn btn-primary connectMetaMask clickableRoundButton">Connect MetaMask</button>
							<button type="button" class="btn btn-primary connectTorus clickableRoundButton">Connect Torus</button>
							<button type="button" class="btn btn-primary connectWalletConnect clickableRoundButton">Connect WalletConnect</button>
							<button type="button" class="btn btn-primary connectPortis clickableRoundButton">Connect Portis</button>
							<button type="button" class="btn btn-primary connectBitski clickableRoundButton">Connect Bitski</button>
							<button type="button" class="btn btn-primary connectFortmatic clickableRoundButton">Connect Fortmatic</button><br/><br/>
							<button type="button" class="btn btn-primary connectVenly clickableRoundButton">Connect Venly (Arkane)</button>
							<button type="button" class="btn btn-primary connectCoinbase clickableRoundButton">Connect Coinbase</button>
					</div>

					<!-- Connected address card -->
					<div class="JustifyFlexStartDisplay HorizFlex">
						<div class="DataTitle">Connected address:</div>
						<div class="address DataText"></div>
					</div>

					<!-- Departure card -->
					<div class="Card">
						<div class="CardElement CardTitle">Departure</div>

						<div class="CardElement JustifySpaceBetweenDisplay HorizFlex">
							<div class="">Select the network the NFT token is currently in :</div>
							<!-- Custom drop down selector -->
							<div class="select-wrapper" id="OriginNetworkSelector">
							  <div class="select">
							    <div class="select-trigger">
							      <span></span>
							      <div class="arrow"></div>
							    </div>

							    <div class="select-options">
							    </div>
							  </div>
							</div>
						</div>



						<div class="CardElement JustifySpaceBetweenDisplay HorizFlex">
							<div class="">Input the address of the ERC-721 smart contract the token is currently in :</div>
							<div class="TextInputContainer"><input class="TextInput" size="42" id="inputOGContractAddress" value="0x60e31A1a38213Ec3Ba1C7345EA49C8b57f7bA4D7"></div>
						</div>

						<div class="CardElement JustifySpaceBetweenDisplay HorizFlex">
							<div class="">Input the tokenID of the ERC-721 token the NFT is currently associated to :</div>
							<div class="TextInputContainer"><input class="TextInput" size="42" id="inputOGTokenID" value="0x2449835e86a539aB33F5773729C0db42e89016fF"></div>
						</div>
					</div> <!-- end of departure card -->

					<!-- Token data card -->
					<div class="Card">
						<div class="CardTitle CardElement">Token</div>

						<div class="CardElement ColoredButtonContainer">
							<button class="ColoredButton" onclick="loadOgTokenData();">Load Data</button>
						</div>

						<div class="CardElement">
							<div class="JustifyFlexStartDisplay WrappedhorizFlex">
								<div class="DataTitle">Token Contract Name:</div>
								<div class="DataText" id="OGContractName"></div>
							</div>

							<div class="JustifyFlexStartDisplay WrappedhorizFlex">
								<div class="DataTitle">Token Contract Symbol:</div>
								<div class="DataText" id="OGContractSymbol"></div>
							</div>

							<div class="JustifyFlexStartDisplay WrappedhorizFlex">
								<div class="DataTitle">Token Owner:</div>
								<div class="DataText" id="OGTokenOwner"></div>
							</div>

							<div class="JustifyFlexStartDisplay WrappedhorizFlex">
								<div class="DataTitle">Token URI:</div>
								<div class="DataText"><a href="" target="_blank" id="OGTokenURI"></a></div>
							</div>
						</div>

						<div class="CardElement">
							<div class="JustifyFlexStartDisplay WrappedhorizFlex">
								<div class="DataTitle">Metadata Name:</div>
								<div class="DataText" id="OGTokenMetaName"></div>
							</div>

							<div class="JustifyFlexStartDisplay WrappedhorizFlex">
								<div class="DataTitle">Metadata Description:</div>
								<div class="DataText" id="OGTokenMetaDesc"></div>
							</div>

							<div class="JustifyFlexStartDisplay WrappedhorizFlex">
								<div class="DataTitle">Metadata Image:</div>
								<div class="DataText" id="OGTokenMetaImagePath"></div>
							</div>
						</div>
					</div> <!-- end of token card -->

					<!-- Migration card -->
					<div class="Card">
						<div class="CardTitle CardElement">Migration</div>

						<div class="CardElement JustifySpaceBetweenDisplay HorizFlex">
							<div class="MigrationType">Migration type:</div>
							<div class="MigrationButtonGroup HorizFlex">
								<button class="ColoredButton" id="RedeemButton" onclick="redeemButtonClick();">Redeem</button>
								<button class="ColoredButton" id="IOUMigrationButton" onclick="IOUMigrationButtonClick();">IOU</button>
								<button class="ColoredButton" id="FullMigrationButton" onclick="fullMigrationButtonClick();">Full</button>
							</div>
						</div>

						<div class="CardElement JustifySpaceBetweenDisplay HorizFlex">
							<div class="">Migration relay</div>
							<!-- Custom drop down selector -->
							<div class="select-wrapper" id="RelaySelector">
							  <div class="select">
							    <div class="select-trigger">
							      <span></span>
							      <div class="arrow"></div>
							    </div>

							    <div class="select-options">
							    </div>
							  </div>
							</div>
						</div>

					</div><!-- end of migration card -->

					<!-- Arrival card -->
					<div class="Card">
						<div class="CardTitle CardElement">Arrival</div>

						<div class="CardElement JustifySpaceBetweenDisplay HorizFlex">
							<div class="">Select the network the NFT token will be migrated to :</div>
							<!-- Custom drop down selector -->
							<div class="select-wrapper" id="DestinationNetworkSelector">
							  <div class="select">
							    <div class="select-trigger">
							      <span></span>
							      <div class="arrow"></div>
							    </div>

							    <div class="select-options">
							    </div>
							  </div>
							</div>
						</div>

						<div class="CardElement JustifySpaceBetweenDisplay HorizFlex">
							<div class="">Input the address of the ERC-721 smart contract the token will be migrated in :</div>
							<div class="TextInputContainer"><input class="TextInput" size="42" onChange="destContractChanged();" id="inputDestContractAddress"></div>
						</div>


						<div class="CardElement">
							<div class="JustifyFlexStartDisplay WrappedhorizFlex">
								<div class="DataTitle">Token Contract Name:</div>
								<div class="DataText" id="DestContractName"></div>
							</div>

							<div class="JustifyFlexStartDisplay WrappedhorizFlex">
								<div class="DataTitle">Token Contract Symbol:</div>
								<div class="DataText" id="DestContractSymbol"></div>
							</div>
						</div>

						<div class="CardElement JustifySpaceBetweenDisplay HorizFlex">
							<div class="">Input the tokenID of the ERC-721 token the NFT will be associated to :</div>
							<div class="TextInputContainer"><input class="TextInput" size="42" id="inputDestTokenID"></div>
						</div>

						<div class="CardElement JustifySpaceBetweenDisplay HorizFlex">
							<div class="">Destination owner:</div>
							<div class="TextInputContainer"><input class="TextInput" size="42" id="inputDestOwner"></div>
						</div>
					</div><!-- end of arrival card -->

					<!-- Complete button card -->
					<div class="Card">
						<div class="CardElement JustifySpaceEvenlyDisplay HorizFlex">
							<button class="ColoredButton" id="CompleteButton" onclick="completeButtonClick();">Complete</button>
						</div>
					</div>
				</div><!--====== end migration form display ======-->

				<!--============= Registration display =============-->
				<div id="RegistrationDisplay" class="Card">
					<div class="Card" >
	          <div class="HorizFlex JustifyCenterDisplay CardTitle">Register migration</div>
	        </div>

	        <!-- Registration data Card -->
	        <div class="Card">
						<!-- Departure data -->
	          <div class="CardElement">
	            <div class="WrappedhorizFlex JustifyFlexStartDisplay">
	              <div class="DataTitle Tabulation">Origin universe:</div>
	              <div class="DataText" id="OGNetworkRegistrationDisp"></div>
	            </div>

	            <div class="WrappedhorizFlex JustifyFlexStartDisplay">
	              <div class="DataTitle Tabulation">Origin world:</div>
	              <div class="DataText" id="OGContractAddressRegistrationDisp"></div>
	            </div>

	            <div class="WrappedhorizFlex JustifyFlexStartDisplay">
	              <div class="DataTitle Tabulation">Origin token ID:</div>
	              <div class="DataText" id="OGTokenIDRegistrationDisp"></div>
	            </div>

	            <div class="WrappedhorizFlex JustifyFlexStartDisplay">
	              <div class="DataTitle Tabulation">Token name:</div>
	              <div class="DataText" id="TokenNameRegistrationDisp"></div>
	            </div>
	          </div>

	          <!-- Migration data display -->
	          <div class="CardElement">
	            <div class="WrappedhorizFlex JustifyFlexStartDisplay">
	              <div class="DataTitle Tabulation">Migration type:</div>
	              <div class="DataText" id="MigrationTypeRegistrationDisp"></div>
	            </div>

	            <div class="WrappedhorizFlex JustifyFlexStartDisplay">
	              <div class="DataTitle Tabulation">Migration relay:</div>
	              <div class="DataText" id="MigrationRelayRegistrationDisp"></div>
	            </div>
	          </div>

	          <!-- Destination data display  -->
	          <div class="CardElement">
	            <div class="WrappedhorizFlex JustifyFlexStartDisplay">
	              <div class="DataTitle Tabulation">Destination universe:</div>
	              <div class="DataText" id="DestNetworkRegistrationDisp"></div>
	            </div>

	            <div class="WrappedhorizFlex JustifyFlexStartDisplay">
	              <div class="DataTitle Tabulation">Destination world:</div>
	              <div class="DataText" id="DestContractAddressRegistrationDisp"></div>
	            </div>

	            <div class="WrappedhorizFlex JustifyFlexStartDisplay">
	              <div class="DataTitle Tabulation">Destination token ID:</div>
	              <div class="DataText" id="DestTokenIDRegistrationDisp"></div>
	            </div>
	          </div>
					</div><!-- End of registration data card -->

					<!-- Registration buttons card -->
					<div class="Card">
	          <div class="CardElement">
	            <div class="WrappedhorizFlex JustifyCenterDisplay">
	              <button type="button" class="btn btn-primary clickableRoundButton" onclick="editMigrationButtonClick();">Edit</button>
	            </div>
						</div>

						<div class="CardElement">
	            <div class="WrappedhorizFlex JustifyCenterDisplay">
	              <button type="button" class="ColoredButton" onclick="registerButtonClick();">Register !</button>
	            </div>
	          </div>
					</div><!-- End of registration buttons card -->

				</div><!-- End of registration display -->

				<!--============= Registration Loading display =============-->
				<div id="RegistrationLoadingDisplay" class="Card">
					<div class="HorizFlex JustifyCenterDisplay CardTitle">Registering migration...</div>

					<div class="HorizFlex JustifyCenterDisplay LoadingContainer">
						<div class="LoadingCircle">
							<svg height="CurrentHeight" width="CurrentWidth" viewBox="0 0 1000 1000" class="loading-circle">
								<circle cx="500" cy="500" r="490" stroke="CurrentColor" stroke-width="5" fill="none" stroke-dasharray="51.1"></circle>
							</svg>
						</div>

						<div id="RegistrationLoadingText" class="LoadingText">
							Please approve the relay as an operator.
						</div>
					</div>
				</div><!-- End of registration loading display -->

				<!--============= Migrate NFT display =============-->
				<div id="MigrateNFTDisplay" class="Card">
						<div class="HorizFlex JustifyCenterDisplay CardTitle">Migrate NFT</div>

						<div class="HorizFlex JustifyCenterDisplay">The origin token was successfully transferred to the bridge.</div>
						<div class="HorizFlex JustifyCenterDisplay">Please sign the escrow hash to allow the relay to mint the new token.</div>

						<div class="WrappedhorizFlex JustifyCenterDisplay">
							<button type="button" class="ColoredButton" onclick="signEscrowHashButtonClick();">Let's sign!</button>
						</div>
				</div>

				<!--============= Migration Loading display =============-->
				<div id="MigrationLoadingDisplay" class="Card">
					<div class="HorizFlex JustifyCenterDisplay CardTitle">Migrate NFT</div>

					<div class="HorizFlex JustifyCenterDisplay LoadingContainer">
						<div class="LoadingCircle">
							<svg height="CurrentHeight" width="CurrentWidth" viewBox="0 0 1000 1000" class="loading-circle">
								<circle cx="500" cy="500" r="490" stroke="CurrentColor" stroke-width="5" fill="none" stroke-dasharray="51.1"></circle>
							</svg>
						</div>

						<div id="MigrationLoadingText" class="LoadingText">
							Waiting the relay to mint the destination token.
						</div>
					</div>

				</div>

				<!--============= Migration Complete display =============-->
				<div id="MigrationCompleteDisplay" class="Card">
					<div class="HorizFlex JustifyCenterDisplay CardTitle">Successful migration !</div>

					<div class="HorizFlex JustifyCenterDisplay">Congrats !</div>

					<div class="WrappedhorizFlex JustifyCenterDisplay">
						<button type="button" class="btn btn-primary clickableRoundButton" onclick="editMigrationButtonClick();">Let's migrate another one :)</button>
					</div>
				</div>

			</div><!-- End of Whitsheet -->

		</div>


		<script type="application/javascript" src="/lib/westron/loader.js"></script>
		<script type="application/javascript" src="/site/customDropDownHandler.js"></script>
		<script type="module" src="/site/refactorAppli.js"></script>
	</body>
</html>
