/*============Views===========*/
/*Initial view */
#DepartureCard,#OriginNetworkCardLine,#OgNetworkSwitchMessage,#OgContractERC721CompliantMsgCardLine,#OriginWorldCardLine,#OriginTokenIDCardLine,
#TokenDataCard,#TokenErrorMessage,#OriginWorldNameCardLine,#OriginWorldSymbolCardLine,#OriginTokenOwnerCardLine,#OriginTokenURICardLine,#MetadataCard,
#BreakLineCardContainer,
#MigrationCard,#MigrationTypeCardLine,#MigTypeDescriptionMessage,#MigrationRelayCardLine,
#ArrivalCard,#DestNetworkCardLine,#DestWorldRedeemCardLine,#DestWorldCardLine,#DestWorldNameCardLine,#DestWorldSymbolCardLine,#DestTokenIdCardLine,#DestTokenNameCardLine,#DestOwnerCardLine,#DestOwnerMessage,
#CompleteMigrationCard
{
  /*-webkit-transition: max-height .25s ease;
  -moz-transition: max-height .25s ease;
  transition: max-height .25s ease;
  overflow: visible;*/
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.ErrorTextStyle{
  font-weight: bold;
  line-height: 1.56rem;
  color: #ab0707;
  margin-left: 12vw;/* To align it with inputs */
}

.TextInput{
  background-color: transparent;/*Remove default background*/
  border: solid 2px #555;
  border-radius: 2em;
  padding: 0.5em 1em;
  margin: 0;
  /* width: 100%; */
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;/*Remove the border when focused */
  /* min-width: 28em; */
}

.TextInput:focus{
  border-color: #000;
}

.InputElement{
  min-width: 28vw;
  display: inline-block;/*To allow to expand if the text inside input is greater than 30vw */
}

.LoadingContainer{
  position:relative;
  height: 15em;
  overflow: hidden;/*Prevent the page's height to change when the loading circle is turning ;) */
  margin-bottom: 5vh;
}
.LoadingText{
  position: absolute;
  width: 12em;
  text-align: center;
  line-height: 1.56rem;
  word-break: break-word;
}
.LoadingCircle{
  position: absolute;
  width: 15em;
  height: 15em;
  color: #af1540;
  -webkit-animation:loading-circle_spin 15s linear infinite;
  -moz-animation:loading-circle_spin 15s linear infinite;
  animation:loading-circle_spin 15s linear infinite;
}
@-moz-keyframes loading-circle_spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes loading-circle_spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes loading-circle_spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Careful, this css property needs to be after clickableRoundButton definition for proper overwrite*/
/* If you want to edit the properties of the buttons inside NFT cards, edit the CSS inside the nftCards.js*/
.ColoredButton{
  padding: 8px 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  border-width: 0em;
  font-size: .88rem;
  line-height: 1.5rem;
  text-decoration: none;
  transition: 0.5s;
  background-image: linear-gradient(to right, #3e287a 0%, #af1540 100%);
  background-size: 200% auto;
  color: #fff;
  white-space: nowrap;
  cursor:pointer;
}
.ColoredButton:hover{
  background-position: right center;
}
.ColoredButton:active{
  background-image: linear-gradient(to right, #bf1560 0%, #bf1560 100%);
}
.ColoredButton:disabled, .ColoredButton[disabled]{
  background-image: linear-gradient(to right, #bbb 0%, #bbb 100%);
  /*Do not set bg-image : none; bg-color: #bbb. it causes a threshold during the switch from disabled to enabled and reverse */
  cursor: default;
}
.ColoredButton.Selected{
  background-image: linear-gradient(to right, #bf1560 0%, #bf1560 100%);
}

/* Tool tip */
/* Tooltip container */
.ToolTip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.ToolTip .ToolTipText {
  visibility: hidden;
  width: 12vw;
  background-color: #ccc;
  color: #333;
  text-align: center;
  white-space: break-spaces;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.ToolTipLeftPosition{
  right: 105%;
}
.ToolTipRightPosition{
  left: 105%;
}

.ColoredButton:disabled:hover, .ColoredButton[disabled]:hover .ToolTipText {
  visibility: visible;
}

/* End of tooltip */

/*Container for several elements lines placed one under the other  */
.Card{
  display: flex;
  flex-flow: column nowrap;
  gap: 1em 0em;
  /*margin: 0vw 1em;*/
}
.CenteredCard{
  display: flex;
  flex-flow: column nowrap;
  gap: 1em 0em;
  align-items: center;
}

.NoMargin{
  margin: 0vw 0vw;
}
.HorizMargin{
  margin-top: 5em;
  margin-bottom: 5em;
}
.HorizSmallMargin{
  margin-top: 1em;
  margin-bottom: 1em;
}
/*A card with no gap between lines */
.CompactCard{
  display: flex;
  flex-flow: column nowrap;
  line-height: 1.56rem;
}

/*Represent one line contained in a Card */
.CardLineWrap{
  display: flex;
  flex-flow: row wrap;
  gap: 2em 4em;
  align-items: center;
  justify-content: flex-start;
}
.CardLine{
  display: flex;
  flex-flow: row nowrap;
  gap: 0em 0em;
  align-items: center;
  justify-content: flex-start;
}
/* No wrap for text*/
.CardLineNoWrap{
  display: flex;
  flex-flow: row nowrap;
  gap: 0vw 2vw;
  align-items: center;
  white-space: nowrap;
}

.AlignItemsStart{
  align-items: flex-start;
}

.MigrationButtonLine{
  display: flex;
  flex-flow: row nowrap;
  gap: 0em 2em;
  justify-content: center;
}

/*Containers for one element of a card line */
/*.LineElement{
  width: 100%;
}*/
.WrapContentLineElement{
  width: auto;
  white-space: nowrap;
}
.CenteredCardLine{
  display: flex;
  flex-flow: row nowrap;
  gap: 0vw 2vw;
  align-items: center;
  justify-content: center;
  line-height: 1.56rem;
  /*margin-top: 5vh;
  margin-bottom: 5vh;*/
}
.SpaceBetweenCardLine{
  display: flex;
  flex-flow: row nowrap;
  gap: 0vw 2vw;
  align-items: center;
  justify-content: space-between;
}

.CardTitle{
  font-size: 2em;
  margin: 2vw 0vw 2vw 0vw;/*To override CardLine margin */
  text-align: center;
  justify-content: center;
  color: #333;
}

.DescriptionTextElementWidth{
  width: 11vw;
  margin-right: 1vw;
  white-space: break-spaces;
}

.DescriptionRegisterTextElementWidth{
  width: 12vw;
  max-width: 15em;
  margin-right: 2vw;
  white-space: break-spaces;
}

/* FormElement can be an input or a data (e.g. token datas)*/
.FormElementWidth{
  width: 28vw;
  margin-right: 2vw;
}

.TokenDataWidth{
  width: 38vw;
}

.InsideWhiteSheetWidth{
  width: 54vw;
}

.MigFinishedDescTextWidth{
  width: 6vw;
  white-space: break-spaces;
  margin-right: 1em;
}

.FormElementMargin{
  margin-left: 12vw;
}

.DataText{
  font-weight: bold;
  line-height: 1.56rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
  color: #aaa;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
  color: #aaa;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
  color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
  color: #aaa;
}


#FetchDataButton{
  min-width: 8vw;
}

/* To give destTokenId & destWorld texts the same height than drop down*/
#DestWorldRedeemCardLine, #DestTokenIdCardLine{
  min-height: 2.5em;
  align-items: center;
}

#ResignButtonContainer{
  margin-top: 9em;
  z-index: 0;
}

#HintTextStyle{
  font-style: italic;
  color: #aaa;
}

#OriginTokenURICardLine{
  word-break: break-all;
}

#BreakLineCardContainer{
  margin-top: 5vh;
  margin-bottom: 5vh;
  position: relative;
  align-items: center;
}

#BreakLine{
  position: absolute;
  left: -23.5vw;
  height: 3px;
  background-color: #3e287a;
  width: 98vw;
}

/* Separation breakline arrow*/
#DownArrow{
  background: url("../../medias/DownArrow.svg");
  background-size: 3em;
  background-position-x: 0vw;
  background-position-y: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

#DownArrowContainer{
  position: absolute;
  top: -2.5em;
  height: 3em;
  width: 3em;
  background-color: #fff;
  margin: 1em;

}

#CompleteMigrationCard{
  margin-top: 5vh;
}

#NewMigrationButton{
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#SignEscrowHashButton{
  margin-bottom: 5vh;
}

/* WALLET CONNECTION BUTTONS */
#ConnectionCenter{
  margin-bottom: 5em;
  max-width: 56em;
}

#WalletConnectionDisplay{
  align-items: center;
}

/*use of absolute metrics (px) for width and height so that the icons do not adjust to screen size */
.connectMetaMask{
  background-image: url("../../medias/MetaMask_Icon.svg");
  background-size: 55px;
  background-position-x: 0vw;
}
.connectTorus{
  background-image: url("../../medias/Torus_Icon.svg");
  background-size: 55px;
  background-position-x: 0.5vw;
}
.connectWalletConnect{
  background-image: url("../../medias/WalletConnect_Icon.svg");
  background-size: 55px;
}
.connectPortis{
  background-image: url("../../medias/Portis_Icon.png");
  background-size: 45px 55px;
}
.connectBitski{
  background-image: url("../../medias/Bitski_Icon.svg");
  background-size: 55px;
}
.connectFortmatic{
  background-image: url("../../medias/Fortmatic_Icon.jpg");
  background-size: 50px 55px;
}
.connectVenly{
  background-image: url("../../medias/Venly_Icon.png");
  background-size: 50px 55px;
}
.connectCoinbase{
  background-image: url("../../medias/Coinbase_Icon.png");
  background-size: 55px;
}
.requestWallet{
  background-image: url("../../medias/RequestWallet_Icon.svg");
  background-size: 40px;
  background-color: #ccc;
  border-width: 0;
}
.requestWallet:active{
  background-color: #aaa;
}

.connectMetaMask,.connectTorus,.connectWalletConnect,.connectPortis,.connectBitski,.connectFortmatic,.connectVenly,.connectCoinbase,.requestWallet{
  padding: 1em;
  border-radius: 1em;
  width: 16em;
  height: 8em;
  background-repeat: no-repeat;
  font-weight: bold;
  background-position-x: 0.75em;
  background-position-y: center;
  word-wrap: break-word;
}

.ConnectBtnTextContainer{
  margin-left: 80px;
}


/* Mig_Finished view*/
#DestTokenIdMigFinished, #DestWorldMigFinished, #OwnerAddrMigFinished{
  margin-left: 2em;
}

#MigFinishedExplText{
  line-height: 1.56rem;
  display: inline-block;
}
