body{
    font-family: 'Sequel Sans',sans-serif;
}

.bg_container{
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}

/* TOP RIGHT COLOR: #3e287a
BOTTOM RIGHT COLOR: #af1540
TOP LEFT COLOR: #12132b*/
.bg_gradient{
    height: 100%;
    width: 100%;
    background-image: url('medias/gradientBackground.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.big-circle{
    position: absolute;
    left: 10vh;
    top: -47px;
    width: 110vh;
    height: 110vh;
    color: #96134e;
    -webkit-animation:big-circle_spin 360s linear infinite;
    -moz-animation:big-circle_spin 360s linear infinite;
    animation:big-circle_spin 360s linear infinite;
}

@-moz-keyframes big-circle_spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes big-circle_spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes big-circle_spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.imgassetpreview{
    width: 400px;
}

.content-pillar{
    width: 70%;
    margin-left: 15%;
    font-family: 'Sequel Sans',sans-serif;
}

.mynftBridgeTitle{
    margin-top: 50px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 3.13rem;
    line-height: 3.69rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.whitesheet{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 2em 0em;
}

.topBanner{
    margin-top: 30px;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.mynftLogoTop{
    width: 120px;
    height: 40px;
    background-image: url('medias/myNFTWhiteLogo.svg');
}

.bannerButtonSectionRight{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 120px);
}

.clickableRoundButton{
    padding: 8px 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 30px;
    background-color: #fff;
    -webkit-transition: color .1s cubic-bezier(.455, .03, .515, .955),background-color .1s cubic-bezier(.455, .03, .515, .955);
    transition: color .1s cubic-bezier(.455, .03, .515, .955),background-color .1s cubic-bezier(.455, .03, .515, .955);
    color: #333;
    font-size: .88rem;
    line-height: 1.5rem;
    text-decoration: none;
}

.formfield{
    width: 350px;
    height: 54px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 16px 32px 16px 22px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border: 1px solid #3e276c;
    border-radius: 30px;
    font-size: 1rem;
    line-height: 1.38rem;
}

.formfield:focus {
    border-color: #96134e;
}

.ConnectionCenter{
    flex-flow: row wrap;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 0.5em 2em;
}

/*============Views===========*/
.HorizFlex{
  display: flex;
  flex-flow: row nowrap;
  gap: 0em 1em;
  align-items: center;
  margin: 0vw 10vw 0vw 5vw;
}

.WrappedhorizFlex{
  display: flex;
  flex-flow: row wrap;
  gap: 0em 1em;
  align-items: center;
}

.JustifySpaceBetweenDisplay{
  justify-content: space-between;
}
.JustifySpaceEvenlyDisplay{
  justify-content: space-evenly;
}
.JustifySpaceAroundDisplay{
  justify-content: space-around;
}
.JustifyFlexStartDisplay{
  justify-content: flex-start;
}
.JustifyCenterDisplay{
  justify-content: center;
}
.MigrationButtonGroup{
  justify-content: center;
  flex-grow: 1;
}
.MigrationType{
  flex-grow: 1;
}

.Tabulation{
  text-indent:15vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.TextInput{
  background-color: transparent;/*Remove default background*/
  border: solid 2px #555;
  border-radius: 2em;
  padding: 0.5em;
  margin: 0;
  /* width: 100%; */
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;/*Remove the border when focused */
  /* min-width: 28em; */
}

.TextInput:focus{
  border-color: #000;
}

.InputElement{
  width: 30vw;
}

.LoadingContainer{
  position:relative;
  height: 15em;
}
.LoadingText{
  position: absolute;
  width: 12em;
  text-align: center;
}
.LoadingCircle{
  position: absolute;
  width: 15em;
  height: 15em;
  color: #12132b;
  -webkit-animation:loading-circle_spin 10s linear infinite;
  -moz-animation:loading-circle_spin 10s linear infinite;
  animation:loading-circle_spin 10s linear infinite;
}
@-moz-keyframes loading-circle_spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes loading-circle_spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes loading-circle_spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Careful, this css property needs to be after clickableRoundButton definition for proper overwrite*/
.ColoredButton{
  padding: 8px 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  border-width: 0em;
  font-size: .88rem;
  line-height: 1.5rem;
  text-decoration: none;
  transition: 0.5s;
  background-image: linear-gradient(to right, #3e287a 0%, #af1540 100%);
  background-size: 200% auto;
  color: #fff;
  white-space: nowrap;
}
.ColoredButton:hover{
  background-position: right center;
}
.ColoredButton:active{
  background-image: linear-gradient(to right, #bf1560 0%, #bf1560 100%);
}
.ColoredButton:disabled, .ColoredButton[disabled]{
  background-image: linear-gradient(to right, #ccc 0%, #ccc 100%);
}
.ColoredButton:target{
  background-image: linear-gradient(to right, #df3580 0%, #df3580 100%);
}

/*Container for several elements lines placed one under the other  */
.Card{
  display: flex;
  flex-flow: column nowrap;
  gap: 1em 0em;
  margin: 0vw 3vw;
}

.NoMargin{
  margin: 0vw 0vw;
}
/*A card with no gap between lines */
.CompactCardCard{
  display: flex;
  flex-flow: column nowrap;
}

/*Represent one line contained in a Card */
.CardLine{
  display: flex;
  flex-flow: row nowrap;
  gap: 0vw 2vw;
  align-items: center;
  /*margin: 0vw 0vw 0vw 5vw;*/
}

.DataDisplay{
  align-items: flex-start;
}

.MigrationButtonLine{
  display: flex;
  flex-flow: row nowrap;
  gap: 0vw 5vw;
  justify-content: center;
}

/*Containers for one element of a card line */
.LineElement{
  width: 100%;
}

.CardTitle{
  font-size: 2em;
  margin: 2vw 0vw 0vw 0vw;/*To override CardLine margin */
  text-align: center;
}

.TextElement{
  max-width: 15vw;
}

.DataText{
  font-weight: bold;
}
